**.DS_Store
**_notes
xanthippe/includes/sql-jperetz.php
xanthippe/login-test.php
bootstrap/**
gradebook/**
images/**
prettify/**
slides/barebones.html
slides/reveal/**
tinymce/**
xanthippe/db/create-test.sql
lesson-maker/sql-jperetz.php
modernizr